In [413]:
import pandas as pd
import numpy as np
import seaborn as sns

SEED = 42
TEST_SIZE = 0.2

In [3]:
url_jan2017_onwards = "f1765b54-a209-4718-8d38-a39237f502b3"
url_jan2015todec2016 = "1b702208-44bf-4829-b620-4615ee19b57c"
url_mar2012todec2014 = "83b2fc37-ce8c-4df4-968b-370fd818138b"
url_2000tofeb2012 = "8c00bf08-9124-479e-aeca-7cc411d884c4"
url_1990to1999 = "adbbddd3-30e2-445f-a123-29bee150a6fe"
url_base = "https://data.gov.sg/api/action/datastore_search?resource_id="

In [4]:
urls = [url_1990to1999,url_2000tofeb2012, url_mar2012todec2014, url_jan2015todec2016, url_jan2017_onwards]

In [5]:
query = ""

In [6]:
url_query = url_base + urls[0] + query

In [7]:
url_query

'https://data.gov.sg/api/action/datastore_search?resource_id=adbbddd3-30e2-445f-a123-29bee150a6fe'

In [8]:
import requests
response = requests.get(url_query)
# inspecting the response
# appears that we should be expecting a total of 287196 results
print(response.json())

{'help': 'https://data.gov.sg/api/3/action/help_show?name=datastore_search', 'success': True, 'result': {'resource_id': 'adbbddd3-30e2-445f-a123-29bee150a6fe', 'fields': [{'type': 'int4', 'id': '_id'}, {'type': 'text', 'id': 'month'}, {'type': 'text', 'id': 'town'}, {'type': 'text', 'id': 'flat_type'}, {'type': 'text', 'id': 'block'}, {'type': 'text', 'id': 'street_name'}, {'type': 'text', 'id': 'storey_range'}, {'type': 'numeric', 'id': 'floor_area_sqm'}, {'type': 'text', 'id': 'flat_model'}, {'type': 'numeric', 'id': 'lease_commence_date'}, {'type': 'numeric', 'id': 'resale_price'}], 'records': [{'town': 'ANG MO KIO', 'flat_type': '1 ROOM', 'flat_model': 'IMPROVED', 'floor_area_sqm': '31', 'street_name': 'ANG MO KIO AVE 1', 'resale_price': '9000', 'month': '1990-01', 'lease_commence_date': '1977', 'storey_range': '10 TO 12', '_id': 1, 'block': '309'}, {'town': 'ANG MO KIO', 'flat_type': '1 ROOM', 'flat_model': 'IMPROVED', 'floor_area_sqm': '31', 'street_name': 'ANG MO KIO AVE 1', 'resale_price': '6000', 'month': '1990-01', 'lease_commence_date': '1977', 'storey_range': '04 TO 06', '_id': 2, 'block': '309'}, {'town': 'ANG MO KIO', 'flat_type': '1 ROOM', 'flat_model': 'IMPROVED', 'floor_area_sqm': '31', 'street_name': 'ANG MO KIO AVE 1', 'resale_price': '8000', 'month': '1990-01', 'lease_commence_date': '1977', 'storey_range': '10 TO 12', '_id': 3, 'block': '309'}, {'town': 'ANG MO KIO', 'flat_type': '1 ROOM', 'flat_model': 'IMPROVED', 'floor_area_sqm': '31', 'street_name': 'ANG MO KIO AVE 1', 'resale_price': '6000', 'month': '1990-01', 'lease_commence_date': '1977', 'storey_range': '07 TO 09', '_id': 4, 'block': '309'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '73', 'street_name': 'ANG MO KIO AVE 1', 'resale_price': '47200', 'month': '1990-01', 'lease_commence_date': '1976', 'storey_range': '04 TO 06', '_id': 5, 'block': '216'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '46000', 'month': '1990-01', 'lease_commence_date': '1977', 'storey_range': '01 TO 03', '_id': 6, 'block': '211'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '42000', 'month': '1990-01', 'lease_commence_date': '1977', 'storey_range': '07 TO 09', '_id': 7, 'block': '202'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '38000', 'month': '1990-01', 'lease_commence_date': '1977', 'storey_range': '10 TO 12', '_id': 8, 'block': '235'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '40000', 'month': '1990-01', 'lease_commence_date': '1977', 'storey_range': '04 TO 06', '_id': 9, 'block': '235'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '47000', 'month': '1990-01', 'lease_commence_date': '1977', 'storey_range': '01 TO 03', '_id': 10, 'block': '232'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '43000', 'month': '1990-01', 'lease_commence_date': '1977', 'storey_range': '07 TO 09', '_id': 11, 'block': '232'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '82', 'street_name': 'ANG MO KIO AVE 1', 'resale_price': '59000', 'month': '1990-01', 'lease_commence_date': '1976', 'storey_range': '07 TO 09', '_id': 12, 'block': '308'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 1', 'resale_price': '47200', 'month': '1990-01', 'lease_commence_date': '1976', 'storey_range': '10 TO 12', '_id': 13, 'block': '308'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 1', 'resale_price': '35000', 'month': '1990-01', 'lease_commence_date': '1977', 'storey_range': '07 TO 09', '_id': 14, 'block': '220'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '82', 'street_name': 'ANG MO KIO AVE 1', 'resale_price': '52000', 'month': '1990-01', 'lease_commence_date': '1977', 'storey_range': '07 TO 09', '_id': 15, 'block': '219'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '82', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '56900', 'month': '1990-01', 'lease_commence_date': '1978', 'storey_range': '04 TO 06', '_id': 16, 'block': '247'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '73', 'street_name': 'ANG MO KIO AVE 1', 'resale_price': '40000', 'month': '1990-01', 'lease_commence_date': '1977', 'storey_range': '07 TO 09', '_id': 17, 'block': '320'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 4', 'resale_price': '40000', 'month': '1990-01', 'lease_commence_date': '1977', 'storey_range': '07 TO 09', '_id': 18, 'block': '252'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 1', 'resale_price': '47200', 'month': '1990-01', 'lease_commence_date': '1978', 'storey_range': '04 TO 06', '_id': 19, 'block': '223'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 1', 'resale_price': '37000', 'month': '1990-01', 'lease_commence_date': '1978', 'storey_range': '10 TO 12', '_id': 20, 'block': '223'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '82', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '60000', 'month': '1990-01', 'lease_commence_date': '1978', 'storey_range': '07 TO 09', '_id': 21, 'block': '230'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '73', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '40000', 'month': '1990-01', 'lease_commence_date': '1978', 'storey_range': '07 TO 09', '_id': 22, 'block': '329'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '73', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '41000', 'month': '1990-01', 'lease_commence_date': '1978', 'storey_range': '10 TO 12', '_id': 23, 'block': '313'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '74', 'street_name': 'ANG MO KIO AVE 4', 'resale_price': '37000', 'month': '1990-01', 'lease_commence_date': '1978', 'storey_range': '04 TO 06', '_id': 24, 'block': '117'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 4', 'resale_price': '34000', 'month': '1990-01', 'lease_commence_date': '1978', 'storey_range': '10 TO 12', '_id': 25, 'block': '110'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '73', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '47000', 'month': '1990-01', 'lease_commence_date': '1978', 'storey_range': '07 TO 09', '_id': 26, 'block': '343'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '73', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '36000', 'month': '1990-01', 'lease_commence_date': '1978', 'storey_range': '04 TO 06', '_id': 27, 'block': '345'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '73', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '45000', 'month': '1990-01', 'lease_commence_date': '1978', 'storey_range': '10 TO 12', '_id': 28, 'block': '346'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '44000', 'month': '1990-01', 'lease_commence_date': '1978', 'storey_range': '04 TO 06', '_id': 29, 'block': '121'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '73', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '44000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '04 TO 06', '_id': 30, 'block': '129'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '88', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '50000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '01 TO 03', '_id': 31, 'block': '130'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '47000', 'month': '1990-01', 'lease_commence_date': '1978', 'storey_range': '07 TO 09', '_id': 32, 'block': '128'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '47200', 'month': '1990-01', 'lease_commence_date': '1978', 'storey_range': '07 TO 09', '_id': 33, 'block': '127'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '82', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '58000', 'month': '1990-01', 'lease_commence_date': '1978', 'storey_range': '10 TO 12', '_id': 34, 'block': '126'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '45000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '10 TO 12', '_id': 35, 'block': '403'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '44000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '10 TO 12', '_id': 36, 'block': '404'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '47000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '04 TO 06', '_id': 37, 'block': '405'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '89', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '53000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '13 TO 15', '_id': 38, 'block': '417'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '74', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '47000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '04 TO 06', '_id': 39, 'block': '418'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '74', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '44000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '07 TO 09', '_id': 40, 'block': '418'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '74', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '47000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '07 TO 09', '_id': 41, 'block': '419'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '47000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '07 TO 09', '_id': 42, 'block': '441'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '45000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '04 TO 06', '_id': 43, 'block': '442'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '40000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '07 TO 09', '_id': 44, 'block': '442'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '47000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '07 TO 09', '_id': 45, 'block': '442'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '42000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '07 TO 09', '_id': 46, 'block': '443'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '82', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '56000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '04 TO 06', '_id': 47, 'block': '443'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '36000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '10 TO 12', '_id': 48, 'block': '444'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '83', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '48000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '01 TO 03', '_id': 49, 'block': '450'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '47200', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '01 TO 03', '_id': 50, 'block': '435'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '37000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '01 TO 03', '_id': 51, 'block': '435'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '45000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '07 TO 09', '_id': 52, 'block': '433'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '37000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '07 TO 09', '_id': 53, 'block': '434'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '73', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '34000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '10 TO 12', '_id': 54, 'block': '424'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '73', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '40000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '01 TO 03', '_id': 55, 'block': '424'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '73', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '41000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '07 TO 09', '_id': 56, 'block': '424'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '41000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '01 TO 03', '_id': 57, 'block': '425'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '82', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '50000', 'month': '1990-01', 'lease_commence_date': '1984', 'storey_range': '04 TO 06', '_id': 58, 'block': '466'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '45000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '01 TO 03', '_id': 59, 'block': '471'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '38000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '07 TO 09', '_id': 60, 'block': '471'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '37500', 'month': '1990-01', 'lease_commence_date': '1984', 'storey_range': '04 TO 06', '_id': 61, 'block': '474'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '52500', 'month': '1990-01', 'lease_commence_date': '1984', 'storey_range': '13 TO 15', '_id': 62, 'block': '474'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '35000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '07 TO 09', '_id': 63, 'block': '570'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '35000', 'month': '1990-01', 'lease_commence_date': '1979', 'storey_range': '04 TO 06', '_id': 64, 'block': '586'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '47200', 'month': '1990-01', 'lease_commence_date': '1980', 'storey_range': '10 TO 12', '_id': 65, 'block': '455'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '43500', 'month': '1990-01', 'lease_commence_date': '1980', 'storey_range': '10 TO 12', '_id': 66, 'block': '455'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '68', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '37000', 'month': '1990-01', 'lease_commence_date': '1980', 'storey_range': '07 TO 09', '_id': 67, 'block': '465'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '68', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '47200', 'month': '1990-01', 'lease_commence_date': '1980', 'storey_range': '01 TO 03', '_id': 68, 'block': '463'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '68', 'street_name': 'ANG MO KIO AVE 3', 'resale_price': '52000', 'month': '1990-01', 'lease_commence_date': '1985', 'storey_range': '04 TO 06', '_id': 69, 'block': '564'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '37000', 'month': '1990-01', 'lease_commence_date': '1980', 'storey_range': '01 TO 03', '_id': 70, 'block': '560'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '67', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '38000', 'month': '1990-01', 'lease_commence_date': '1980', 'storey_range': '13 TO 15', '_id': 71, 'block': '560'}, {'town': 'ANG MO KIO', 'flat_type': '3 ROOM', 'flat_model': 'NEW GENERATION', 'floor_area_sqm': '82', 'street_name': 'ANG MO KIO AVE 10', 'resale_price': '45000', 'month': '1990-01', 'lease_commence_date': '1980', 'storey_range': '07 TO 09', '_id': 72, 'block': '558'}, {'town': 'ANG MO KIO', 'flat_type

In [9]:
data = response.json()
# information is found in result, records
data['result']['records']

[{'town': 'ANG MO KIO',
  'flat_type': '1 ROOM',
  'flat_model': 'IMPROVED',
  'floor_area_sqm': '31',
  'street_name': 'ANG MO KIO AVE 1',
  'resale_price': '9000',
  'month': '1990-01',
  'lease_commence_date': '1977',
  'storey_range': '10 TO 12',
  '_id': 1,
  'block': '309'},
 {'town': 'ANG MO KIO',
  'flat_type': '1 ROOM',
  'flat_model': 'IMPROVED',
  'floor_area_sqm': '31',
  'street_name': 'ANG MO KIO AVE 1',
  'resale_price': '6000',
  'month': '1990-01',
  'lease_commence_date': '1977',
  'storey_range': '04 TO 06',
  '_id': 2,
  'block': '309'},
 {'town': 'ANG MO KIO',
  'flat_type': '1 ROOM',
  'flat_model': 'IMPROVED',
  'floor_area_sqm': '31',
  'street_name': 'ANG MO KIO AVE 1',
  'resale_price': '8000',
  'month': '1990-01',
  'lease_commence_date': '1977',
  'storey_range': '10 TO 12',
  '_id': 3,
  'block': '309'},
 {'town': 'ANG MO KIO',
  'flat_type': '1 ROOM',
  'flat_model': 'IMPROVED',
  'floor_area_sqm': '31',
  'street_name': 'ANG MO KIO AVE 1',
  'resale_price': '6000',
  'month': '1990-01',
  'lease_commence_date': '1977',
  'storey_range': '07 TO 09',
  '_id': 4,
  'block': '309'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '73',
  'street_name': 'ANG MO KIO AVE 1',
  'resale_price': '47200',
  'month': '1990-01',
  'lease_commence_date': '1976',
  'storey_range': '04 TO 06',
  '_id': 5,
  'block': '216'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '46000',
  'month': '1990-01',
  'lease_commence_date': '1977',
  'storey_range': '01 TO 03',
  '_id': 6,
  'block': '211'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '42000',
  'month': '1990-01',
  'lease_commence_date': '1977',
  'storey_range': '07 TO 09',
  '_id': 7,
  'block': '202'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '38000',
  'month': '1990-01',
  'lease_commence_date': '1977',
  'storey_range': '10 TO 12',
  '_id': 8,
  'block': '235'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '40000',
  'month': '1990-01',
  'lease_commence_date': '1977',
  'storey_range': '04 TO 06',
  '_id': 9,
  'block': '235'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '47000',
  'month': '1990-01',
  'lease_commence_date': '1977',
  'storey_range': '01 TO 03',
  '_id': 10,
  'block': '232'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '43000',
  'month': '1990-01',
  'lease_commence_date': '1977',
  'storey_range': '07 TO 09',
  '_id': 11,
  'block': '232'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '82',
  'street_name': 'ANG MO KIO AVE 1',
  'resale_price': '59000',
  'month': '1990-01',
  'lease_commence_date': '1976',
  'storey_range': '07 TO 09',
  '_id': 12,
  'block': '308'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 1',
  'resale_price': '47200',
  'month': '1990-01',
  'lease_commence_date': '1976',
  'storey_range': '10 TO 12',
  '_id': 13,
  'block': '308'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 1',
  'resale_price': '35000',
  'month': '1990-01',
  'lease_commence_date': '1977',
  'storey_range': '07 TO 09',
  '_id': 14,
  'block': '220'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '82',
  'street_name': 'ANG MO KIO AVE 1',
  'resale_price': '52000',
  'month': '1990-01',
  'lease_commence_date': '1977',
  'storey_range': '07 TO 09',
  '_id': 15,
  'block': '219'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '82',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '56900',
  'month': '1990-01',
  'lease_commence_date': '1978',
  'storey_range': '04 TO 06',
  '_id': 16,
  'block': '247'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '73',
  'street_name': 'ANG MO KIO AVE 1',
  'resale_price': '40000',
  'month': '1990-01',
  'lease_commence_date': '1977',
  'storey_range': '07 TO 09',
  '_id': 17,
  'block': '320'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 4',
  'resale_price': '40000',
  'month': '1990-01',
  'lease_commence_date': '1977',
  'storey_range': '07 TO 09',
  '_id': 18,
  'block': '252'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 1',
  'resale_price': '47200',
  'month': '1990-01',
  'lease_commence_date': '1978',
  'storey_range': '04 TO 06',
  '_id': 19,
  'block': '223'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 1',
  'resale_price': '37000',
  'month': '1990-01',
  'lease_commence_date': '1978',
  'storey_range': '10 TO 12',
  '_id': 20,
  'block': '223'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '82',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '60000',
  'month': '1990-01',
  'lease_commence_date': '1978',
  'storey_range': '07 TO 09',
  '_id': 21,
  'block': '230'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '73',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '40000',
  'month': '1990-01',
  'lease_commence_date': '1978',
  'storey_range': '07 TO 09',
  '_id': 22,
  'block': '329'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '73',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '41000',
  'month': '1990-01',
  'lease_commence_date': '1978',
  'storey_range': '10 TO 12',
  '_id': 23,
  'block': '313'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '74',
  'street_name': 'ANG MO KIO AVE 4',
  'resale_price': '37000',
  'month': '1990-01',
  'lease_commence_date': '1978',
  'storey_range': '04 TO 06',
  '_id': 24,
  'block': '117'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 4',
  'resale_price': '34000',
  'month': '1990-01',
  'lease_commence_date': '1978',
  'storey_range': '10 TO 12',
  '_id': 25,
  'block': '110'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '73',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '47000',
  'month': '1990-01',
  'lease_commence_date': '1978',
  'storey_range': '07 TO 09',
  '_id': 26,
  'block': '343'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '73',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '36000',
  'month': '1990-01',
  'lease_commence_date': '1978',
  'storey_range': '04 TO 06',
  '_id': 27,
  'block': '345'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '73',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '45000',
  'month': '1990-01',
  'lease_commence_date': '1978',
  'storey_range': '10 TO 12',
  '_id': 28,
  'block': '346'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '44000',
  'month': '1990-01',
  'lease_commence_date': '1978',
  'storey_range': '04 TO 06',
  '_id': 29,
  'block': '121'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '73',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '44000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '04 TO 06',
  '_id': 30,
  'block': '129'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '88',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '50000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '01 TO 03',
  '_id': 31,
  'block': '130'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '47000',
  'month': '1990-01',
  'lease_commence_date': '1978',
  'storey_range': '07 TO 09',
  '_id': 32,
  'block': '128'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '47200',
  'month': '1990-01',
  'lease_commence_date': '1978',
  'storey_range': '07 TO 09',
  '_id': 33,
  'block': '127'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '82',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '58000',
  'month': '1990-01',
  'lease_commence_date': '1978',
  'storey_range': '10 TO 12',
  '_id': 34,
  'block': '126'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '45000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '10 TO 12',
  '_id': 35,
  'block': '403'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '44000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '10 TO 12',
  '_id': 36,
  'block': '404'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '47000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '04 TO 06',
  '_id': 37,
  'block': '405'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '89',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '53000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '13 TO 15',
  '_id': 38,
  'block': '417'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '74',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '47000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '04 TO 06',
  '_id': 39,
  'block': '418'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '74',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '44000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '07 TO 09',
  '_id': 40,
  'block': '418'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '74',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '47000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '07 TO 09',
  '_id': 41,
  'block': '419'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '47000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '07 TO 09',
  '_id': 42,
  'block': '441'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '45000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '04 TO 06',
  '_id': 43,
  'block': '442'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '40000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '07 TO 09',
  '_id': 44,
  'block': '442'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '47000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '07 TO 09',
  '_id': 45,
  'block': '442'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '42000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '07 TO 09',
  '_id': 46,
  'block': '443'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '82',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '56000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '04 TO 06',
  '_id': 47,
  'block': '443'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '36000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '10 TO 12',
  '_id': 48,
  'block': '444'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '83',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '48000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '01 TO 03',
  '_id': 49,
  'block': '450'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '47200',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '01 TO 03',
  '_id': 50,
  'block': '435'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '37000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '01 TO 03',
  '_id': 51,
  'block': '435'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '45000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '07 TO 09',
  '_id': 52,
  'block': '433'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '37000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '07 TO 09',
  '_id': 53,
  'block': '434'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '73',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '34000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '10 TO 12',
  '_id': 54,
  'block': '424'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '73',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '40000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '01 TO 03',
  '_id': 55,
  'block': '424'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '73',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '41000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '07 TO 09',
  '_id': 56,
  'block': '424'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '41000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '01 TO 03',
  '_id': 57,
  'block': '425'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '82',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '50000',
  'month': '1990-01',
  'lease_commence_date': '1984',
  'storey_range': '04 TO 06',
  '_id': 58,
  'block': '466'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '45000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '01 TO 03',
  '_id': 59,
  'block': '471'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '38000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '07 TO 09',
  '_id': 60,
  'block': '471'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '37500',
  'month': '1990-01',
  'lease_commence_date': '1984',
  'storey_range': '04 TO 06',
  '_id': 61,
  'block': '474'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '52500',
  'month': '1990-01',
  'lease_commence_date': '1984',
  'storey_range': '13 TO 15',
  '_id': 62,
  'block': '474'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '35000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '07 TO 09',
  '_id': 63,
  'block': '570'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '35000',
  'month': '1990-01',
  'lease_commence_date': '1979',
  'storey_range': '04 TO 06',
  '_id': 64,
  'block': '586'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '47200',
  'month': '1990-01',
  'lease_commence_date': '1980',
  'storey_range': '10 TO 12',
  '_id': 65,
  'block': '455'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '67',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '43500',
  'month': '1990-01',
  'lease_commence_date': '1980',
  'storey_range': '10 TO 12',
  '_id': 66,
  'block': '455'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '68',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '37000',
  'month': '1990-01',
  'lease_commence_date': '1980',
  'storey_range': '07 TO 09',
  '_id': 67,
  'block': '465'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '68',
  'street_name': 'ANG MO KIO AVE 10',
  'resale_price': '47200',
  'month': '1990-01',
  'lease_commence_date': '1980',
  'storey_range': '01 TO 03',
  '_id': 68,
  'block': '463'},
 {'town': 'ANG MO KIO',
  'flat_type': '3 ROOM',
  'flat_model': 'NEW GENERATION',
  'floor_area_sqm': '68',
  'street_name': 'ANG MO KIO AVE 3',
  'resale_price': '52000',
  'month': '1990-01',
  'lease_commence_date': '1985',
  'storey_range': '04 TO 06',
  '_id': 69,

In [10]:
data = data['result']['records']

In [11]:
# only pulls out 100 at a time
pd.DataFrame(data).shape

(100, 11)

In [12]:
query = "&limit=500000"

In [13]:
url_query = url_base + urls[0] + query

In [14]:
# attempting to retrieve all records from one of the url
response = requests.get(url_query)
data = response.json()
data = data['result']['records']
print(pd.DataFrame(data).shape)

(287196, 11)

In [15]:
def retrieve_records(url_query:str):
    """returns a Dataframe of the full records up to a hard limit of 
    500,000 records available in the response

    Parameters
    ----------
    url_query : str
        url of the query
    
    returns: pd.DataFrame
        Records of the results
    """
    response = requests.get(url_query)
    data = response.json()
    data = data['result']['records']
    return data

In [16]:
urls_w_query = [url_base + url + query for url in urls]

In [17]:
list_of_results = []
for url in urls_w_query:
    result = retrieve_records(url)
    list_of_results.append(result)

In [18]:
data = pd.DataFrame(list_of_results[0])

In [19]:
len(list_of_results[2])

52203

In [20]:
for result in list_of_results:
    rows = 0
    data = pd.DataFrame(result)
    rows += data.shape[0]
    print(f'Columns result is {data.columns}')

print(f'Total rows is {rows}')

Columns result is Index(['town', 'flat_type', 'flat_model', 'floor_area_sqm', 'street_name',
       'resale_price', 'month', 'lease_commence_date', 'storey_range', '_id',
       'block'],
      dtype='object')
Columns result is Index(['town', 'flat_type', 'flat_model', 'floor_area_sqm', 'street_name',
       'resale_price', 'month', 'lease_commence_date', 'storey_range', '_id',
       'block'],
      dtype='object')
Columns result is Index(['town', 'flat_type', 'flat_model', 'floor_area_sqm', 'street_name',
       'resale_price', 'month', 'lease_commence_date', 'storey_range', '_id',
       'block'],
      dtype='object')
Columns result is Index(['town', 'flat_type', 'flat_model', 'floor_area_sqm', 'street_name',
       'resale_price', 'month', 'remaining_lease', 'lease_commence_date',
       'storey_range', '_id', 'block'],
      dtype='object')
Columns result is Index(['town', 'flat_type', 'flat_model', 'floor_area_sqm', 'street_name',
       'resale_price', 'month', 'remaining_lease', 'lease_commence_date',
       'storey_range', '_id', 'block'],
      dtype='object')
Total rows is 145880

I am unable to merge everything at a go since there is an additional column "remaining lease" in some data

however the remaining lease should be able to be calculated from the difference between 99 years 

(total lease) - (date of transaction - lease commence date)

so the remaining_lease will be dropped.

In [21]:
df_part1 = pd.concat((
pd.DataFrame(list_of_results[0]),
pd.DataFrame(list_of_results[1]),
pd.DataFrame(list_of_results[2])), axis=0)

In [22]:
df_part2 = pd.concat((
pd.DataFrame(list_of_results[3]),
pd.DataFrame(list_of_results[4])), axis=0)

In [23]:
df_part1.shape

(709050, 11)

In [24]:
df_part1.columns

Index(['town', 'flat_type', 'flat_model', 'floor_area_sqm', 'street_name',
       'resale_price', 'month', 'lease_commence_date', 'storey_range', '_id',
       'block'],
      dtype='object')

In [25]:
df_part2.shape

(183033, 12)

In [26]:
df_part2.columns

Index(['town', 'flat_type', 'flat_model', 'floor_area_sqm', 'street_name',
       'resale_price', 'month', 'remaining_lease', 'lease_commence_date',
       'storey_range', '_id', 'block'],
      dtype='object')

In [27]:
# I changed my mind I will create the remaining_lease instead of dropping the remaining_lease from
# the other dataframe

In [28]:
df_part1.head()

,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,lease_commence_date,storey_range,_id,block
0,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,9000,1990-01,1977,10 TO 12,1,309
1,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,6000,1990-01,1977,04 TO 06,2,309
2,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,8000,1990-01,1977,10 TO 12,3,309
3,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,6000,1990-01,1977,07 TO 09,4,309
4,ANG MO KIO,3 ROOM,NEW GENERATION,73,ANG MO KIO AVE 1,47200,1990-01,1976,04 TO 06,5,216

In [29]:
df_part1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 709050 entries, 0 to 52202
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   town                 709050 non-null  object
 1   flat_type            709050 non-null  object
 2   flat_model           709050 non-null  object
 3   floor_area_sqm       709050 non-null  object
 4   street_name          709050 non-null  object
 5   resale_price         709050 non-null  object
 6   month                709050 non-null  object
 7   lease_commence_date  709050 non-null  object
 8   storey_range         709050 non-null  object
 9   _id                  709050 non-null  int64
 10  block                709050 non-null  object
dtypes: int64(1), object(10)
memory usage: 64.9+ MB

In [30]:
df_part1['remaining_lease'] = 99 - (pd.to_datetime(df_part1['month']).dt.year - df_part1['lease_commence_date'].astype(int) )

In [31]:
df_part1.head()

,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,lease_commence_date,storey_range,_id,block,remaining_lease
0,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,9000,1990-01,1977,10 TO 12,1,309,86
1,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,6000,1990-01,1977,04 TO 06,2,309,86
2,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,8000,1990-01,1977,10 TO 12,3,309,86
3,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,6000,1990-01,1977,07 TO 09,4,309,86
4,ANG MO KIO,3 ROOM,NEW GENERATION,73,ANG MO KIO AVE 1,47200,1990-01,1976,04 TO 06,5,216,85

In [32]:
df_part2.head()

,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,remaining_lease,lease_commence_date,storey_range,_id,block
0,ANG MO KIO,3 ROOM,Improved,60,ANG MO KIO AVE 4,255000,2015-01,70,1986,07 TO 09,1,174
1,ANG MO KIO,3 ROOM,New Generation,68,ANG MO KIO AVE 10,275000,2015-01,65,1981,01 TO 03,2,541
2,ANG MO KIO,3 ROOM,New Generation,69,ANG MO KIO AVE 4,285000,2015-01,64,1980,01 TO 03,3,163
3,ANG MO KIO,3 ROOM,New Generation,68,ANG MO KIO AVE 10,290000,2015-01,63,1979,01 TO 03,4,446
4,ANG MO KIO,3 ROOM,New Generation,68,ANG MO KIO AVE 10,290000,2015-01,64,1980,07 TO 09,5,557

In [33]:
# Rearranging cols so that the concatation will work later
df = df_part1[['remaining_lease']+ [col for col in df_part1.columns if col != 'remaining_lease']]
df2 = df_part2[['remaining_lease']+ [col for col in df_part2.columns if col != 'remaining_lease']]

In [34]:
df.head()

,remaining_lease,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,lease_commence_date,storey_range,_id,block
0,86,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,9000,1990-01,1977,10 TO 12,1,309
1,86,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,6000,1990-01,1977,04 TO 06,2,309
2,86,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,8000,1990-01,1977,10 TO 12,3,309
3,86,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,6000,1990-01,1977,07 TO 09,4,309
4,85,ANG MO KIO,3 ROOM,NEW GENERATION,73,ANG MO KIO AVE 1,47200,1990-01,1976,04 TO 06,5,216

In [35]:
df2.head()

,remaining_lease,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,lease_commence_date,storey_range,_id,block
0,70,ANG MO KIO,3 ROOM,Improved,60,ANG MO KIO AVE 4,255000,2015-01,1986,07 TO 09,1,174
1,65,ANG MO KIO,3 ROOM,New Generation,68,ANG MO KIO AVE 10,275000,2015-01,1981,01 TO 03,2,541
2,64,ANG MO KIO,3 ROOM,New Generation,69,ANG MO KIO AVE 4,285000,2015-01,1980,01 TO 03,3,163
3,63,ANG MO KIO,3 ROOM,New Generation,68,ANG MO KIO AVE 10,290000,2015-01,1979,01 TO 03,4,446
4,64,ANG MO KIO,3 ROOM,New Generation,68,ANG MO KIO AVE 10,290000,2015-01,1980,07 TO 09,5,557

In [36]:
df_combined = pd.concat((df, df2))

In [37]:
df_combined.shape

(892083, 12)

In [38]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 892083 entries, 0 to 145879
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   remaining_lease      892083 non-null  object
 1   town                 892083 non-null  object
 2   flat_type            892083 non-null  object
 3   flat_model           892083 non-null  object
 4   floor_area_sqm       892083 non-null  object
 5   street_name          892083 non-null  object
 6   resale_price         892083 non-null  object
 7   month                892083 non-null  object
 8   lease_commence_date  892083 non-null  object
 9   storey_range         892083 non-null  object
 10  _id                  892083 non-null  int64
 11  block                892083 non-null  object
dtypes: int64(1), object(11)
memory usage: 88.5+ MB

# Feature Engineering

## Getting MRT details

In [39]:
# Now we will try to extract the unique values of the HDB flats and append the geo location

In [40]:
df_combined.head()

,remaining_lease,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,lease_commence_date,storey_range,_id,block
0,86,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,9000,1990-01,1977,10 TO 12,1,309
1,86,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,6000,1990-01,1977,04 TO 06,2,309
2,86,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,8000,1990-01,1977,10 TO 12,3,309
3,86,ANG MO KIO,1 ROOM,IMPROVED,31,ANG MO KIO AVE 1,6000,1990-01,1977,07 TO 09,4,309
4,85,ANG MO KIO,3 ROOM,NEW GENERATION,73,ANG MO KIO AVE 1,47200,1990-01,1976,04 TO 06,5,216

In [41]:
df_combined['address'] = df_combined['block'] + " " + df_combined['street_name']

In [42]:
unique_address = df_combined['address'].unique()

In [43]:
unique_address

array(['309 ANG MO KIO AVE 1', '216 ANG MO KIO AVE 1',
       '211 ANG MO KIO AVE 3', ..., '675A YISHUN AVE 4',
       '673C YISHUN AVE 4', '674B YISHUN AVE 4'], dtype=object)

In [ ]:
# Calling onemap sg api is really slow. This is the solution : https://discuss.onemap.sg/t/search-api-returning-response-404-after-a-while/1710/4

In [60]:
import requests

import socket
import requests.packages.urllib3.util.connection as urllib3_cn
 
def allowed_gai_family():
    family = socket.AF_INET    # force IPv4
    return family
 
urllib3_cn.allowed_gai_family = allowed_gai_family

In [63]:
ONE_MAP_API_ADDRESS = "https://developers.onemap.sg/commonapi/search"
payload = {'searchVal': '216 ANG MO KIO AVE 1',
'returnGeom': 'Y',
'getAddrDetails': 'Y',
'pageNum':1}
res= requests.get(ONE_MAP_API_ADDRESS, params=payload)

In [62]:
res.json()

{'found': 1,
 'totalNumPages': 1,
 'pageNum': 1,
 'results': [{'SEARCHVAL': 'ANG MO KIO 22',
   'BLK_NO': '216',
   'ROAD_NAME': 'ANG MO KIO AVENUE 1',
   'BUILDING': 'ANG MO KIO 22',
   'ADDRESS': '216 ANG MO KIO AVENUE 1 ANG MO KIO 22 SINGAPORE 560216',
   'POSTAL': '560216',
   'X': '28911.0522399368',
   'Y': '38692.6167905722',
   'LATITUDE': '1.36619678831054',
   'LONGITUDE': '103.841505011903',
   'LONGTITUDE': '103.841505011903'}]}

In [59]:
res.json()['results'][0]['ADDRESS']

'216 ANG MO KIO AVENUE 1 ANG MO KIO 22 SINGAPORE 560216'

In [ ]:
# inside the results we have lat, long, full address and postal

In [312]:
from typing import List

def return_geo_details(address_list:List[str])->List[str]:
    geo_details = []
    ONE_MAP_API_ADDRESS = "https://developers.onemap.sg/commonapi/search"
    for address in address_list:
        payload = {'searchVal': address,
        'returnGeom': 'Y',
        'getAddrDetails': 'Y',
        'pageNum':1}

        res= requests.get(ONE_MAP_API_ADDRESS, params=payload)

        try:
            res = res.json()['results'][0] # get only the first result
            full_add = res['ADDRESS']
            lat = float(res['LATITUDE'])
            long = float(res['LONGITUDE'])
            geo_details.append([full_add, lat, long])
        except:
            geo_details.append(['data unavailable','data unavailable','data unavailable'])
    
    return geo_details

In [313]:
def return_one_address(query:str)->dict:
    ONE_MAP_API_ADDRESS = "https://developers.onemap.sg/commonapi/search"
    payload = {'searchVal': query,
    'returnGeom': 'Y',
    'getAddrDetails': 'Y',
    'pageNum':1}

    res= requests.get(ONE_MAP_API_ADDRESS, params=payload)

    try:
        res = res.json()['results'][0] # get only the first result
        full_add = res['ADDRESS']
        lat = float(res['LATITUDE'])
        long = float(res['LONGITUDE'])
        entry = {'address': full_add, 'lat': lat, 'long': long}
    except Exception as e:
        print(f'No results due to {e}')
    
    return entry

In [92]:
unique_address[:10][1]

'216 ANG MO KIO AVE 1'

In [93]:
# Takes about 13 mins
geo_details = return_geo_details(unique_address)

In [98]:
geo_details[3]

['202 ANG MO KIO AVENUE 3 ANG MO KIO VIEW SINGAPORE 560202',
 '1.36844644010937',
 '103.844516260527']

In [90]:
len(geo_details)

29106

In [102]:
unique_address_geo = []

for idx, address in enumerate(unique_address):
    unique_address_geo.append([address, geo_details[idx][0],geo_details[idx][1],geo_details[idx][2]])

In [109]:
unique_address_geo_pd = pd.DataFrame(unique_address_geo)

In [111]:
unique_address_geo_pd.columns = ('address','full_address','lat','long')

In [115]:
# why are these address not found in onemapsg?
unique_address_geo_pd[unique_address_geo_pd['full_address']=='data unavailable'].sample(5)

,address,full_address,lat,long
1333,6 YUNG PING RD,data unavailable,data unavailable,data unavailable
1358,6 UPP BOON KENG RD,data unavailable,data unavailable,data unavailable
2201,31 DOVER RD,data unavailable,data unavailable,data unavailable
1660,13 TEBAN GDNS RD,data unavailable,data unavailable,data unavailable
2035,1 SELETAR WEST FARMWAY 6,data unavailable,data unavailable,data unavailable

In [ ]:
# apparently verifying address is a business. I can see how this is a good service especially for delivery companies
# they should not be sending parcels to false addresses and they should be able to check whether an address
# is valid before confirming the order.
# https://www.easypost.com/singapore-address-verification
# https://www.sglocate.com/

In [172]:
mrt_file = "https://datamall.lta.gov.sg/content/dam/datamall/datasets/PublicTransportRelated/Train%20Station%20Codes%20and%20Chinese%20Names.zip"

In [173]:
r = requests.get(mrt_file)

In [183]:
import zipfile
from io import BytesIO

In [184]:
z = zipfile.ZipFile(BytesIO(r.content))

In [186]:
z.extractall()

In [187]:
train_file_name = "Train Station Codes and Chinese Names.xls"

In [198]:
pd.read_excel(train_file_name)

,stn_code,mrt_station_english,mrt_station_chinese,mrt_line_english,mrt_line_chinese
0,NS1,Jurong East,裕廊东,North-South Line,南北线
1,NS2,Bukit Batok,武吉巴督,North-South Line,南北线
2,NS3,Bukit Gombak,武吉甘柏,North-South Line,南北线
3,NS4,Choa Chu Kang,蔡厝港,North-South Line,南北线
4,NS5,Yew Tee,油池,North-South Line,南北线
...,...,...,...,...,...
200,TE17,Outram Park,欧南园,Thomson-East Coast Line,汤申-东海岸线
201,TE18,Maxwell,麦士威,Thomson-East Coast Line,汤申-东海岸线
202,TE19,Shenton Way,珊顿道,Thomson-East Coast Line,汤申-东海岸线
203,TE20,Marina Bay,滨海湾,Thomson-East Coast Line,汤申-东海岸线
204,TE22,Gardens by the Bay,滨海湾花园,Thomson-East Coast Line,汤申-东海岸线

In [195]:
stations_list = pd.read_excel(train_file_name).loc[:,['stn_code', 'mrt_station_english']]

In [197]:
stations_list

    stn_code mrt_station_english
0        NS1         Jurong East
1        NS2         Bukit Batok
2        NS3        Bukit Gombak
3        NS4       Choa Chu Kang
4        NS5             Yew Tee
..       ...                 ...
200     TE17         Outram Park
201     TE18             Maxwell
202     TE19         Shenton Way
203     TE20          Marina Bay
204     TE22  Gardens by the Bay

[205 rows x 2 columns]

In [196]:
stations_list

    stn_code mrt_station_english
0        NS1         Jurong East
1        NS2         Bukit Batok
2        NS3        Bukit Gombak
3        NS4       Choa Chu Kang
4        NS5             Yew Tee
..       ...                 ...
200     TE17         Outram Park
201     TE18             Maxwell
202     TE19         Shenton Way
203     TE20          Marina Bay
204     TE22  Gardens by the Bay

[205 rows x 2 columns]

In [199]:
def download_mrt_excelsheet(url:str = "https://datamall.lta.gov.sg/content/dam/datamall/datasets/PublicTransportRelated/Train%20Station%20Codes%20and%20Chinese%20Names.zip"):
    r = requests.get(url)
    z = zipfile.ZipFile(BytesIO(r.content))
    z.extractall()

In [202]:
def extract_mrt_excelsheet(default_file_name:str = "Train Station Codes and Chinese Names.xls")->pd.DataFrame:
    download_mrt_excelsheet()
    return pd.read_excel(default_file_name)

In [234]:
stations = extract_mrt_excelsheet()

In [235]:
stations = stations.loc[:,['stn_code','mrt_station_english']]

In [244]:
stations[stations['stn_code'].str.contains('EW') ]

   stn_code mrt_station_english
27      EW1           Pasir Ris
28      EW2            Tampines
29      EW3               Simei
30      EW4         Tanah Merah
31      EW5               Bedok
32      EW6           Kembangan
33      EW7               Eunos
34      EW8          Paya Lebar
35      EW9            Aljunied
36     EW10             Kallang
37     EW11            Lavender
38     EW12               Bugis
39     EW13           City Hall
40     EW14       Raffles Place
41     EW15       Tanjong Pagar
42     EW16         Outram Park
43     EW17         Tiong Bahru
44     EW18             Redhill
45     EW19          Queenstown
46     EW20        Commonwealth
47     EW21         Buona Vista
48     EW22               Dover
49     EW23            Clementi
50     EW24         Jurong East
51     EW25      Chinese Garden
52     EW26            Lakeside
53     EW27            Boon Lay
54     EW28             Pioneer
55     EW29            Joo Koon
56     EW30          Gul Circle
57     EW31       Tuas Crescent
58     EW32      Tuas West Road
59     EW33           Tuas Link

In [231]:
station.values[1]

'Bukit Batok'

In [210]:
station_codes = set([station_code[:2] for station_code in station['stn_code']])

In [211]:
station_codes

{'BP',
 'CC',
 'CE',
 'CG',
 'DT',
 'EW',
 'NE',
 'NS',
 'PE',
 'PT',
 'PW',
 'SE',
 'ST',
 'SW',
 'TE'}

In [239]:
test_dict = {}

In [241]:
test_dict['test']['more'] = 'Wow'

KeyError: 'test'

In [245]:
station_name = 'jurong east'
train = 'mrt station'
station_code = 'EW24'
payload = {'searchVal': f"{station_name} {train} ({station_code}) ",
'returnGeom': 'Y',
'getAddrDetails': 'Y',
'pageNum':1}
ONE_MAP_API_ADDRESS = "https://developers.onemap.sg/commonapi/search"

In [253]:
station_name in requests.get(ONE_MAP_API_ADDRESS, params=payload).json()['results'][0]['SEARCHVAL'].lower()

True

In [354]:
def extract_address_mrt(stations:pd.DataFrame)->List[str]:
    """ returns the full address along with the lat and long of the MRT station.
    Function will attempt to return the correct address by checking against the station
    code associated with the mrt station
    """

    geo_details = {}
    ONE_MAP_API_ADDRESS = "https://developers.onemap.sg/commonapi/search"
    for station in stations.values:
        station_code = station[0].lower()
        station_name = station[1].lower()
        for train in ['mrt station', 'lrt station']:
            payload = {'searchVal': f"{station_name} {train} ({station_code}) ",
            'returnGeom': 'Y',
            'getAddrDetails': 'Y',
            'pageNum':1}

            res= requests.get(ONE_MAP_API_ADDRESS, params=payload)

            try:
                res = res.json()['results'][0] # get only the first result
                full_add = res['ADDRESS']
                lat = float(res['LATITUDE'])
                long = float(res['LONGITUDE'])
                
                # only keep the address if the search val matches and there is nothing in the result
                if (station_name in res['SEARCHVAL'].lower()) and (station_name not in geo_details): 
                    entry = {'station_code': station_code, 'address': full_add, 'lat': lat, 'long': long}
                    geo_details[station_name] = entry
                    
            except Exception as e:
                print(f"Search for {station_name} {train} skipped")
    
    return geo_details

In [355]:
stations_address = extract_address_mrt(stations)

Search for jurong east lrt station skipped
Search for bukit batok lrt station skipped
Search for bukit gombak lrt station skipped
Search for yew tee lrt station skipped
Search for kranji lrt station skipped
Search for marsiling lrt station skipped
Search for woodlands lrt station skipped
Search for admiralty lrt station skipped
Search for sembawang lrt station skipped
Search for canberra lrt station skipped
Search for yishun lrt station skipped
Search for khatib lrt station skipped
Search for yio chu kang lrt station skipped
Search for ang mo kio lrt station skipped
Search for bishan lrt station skipped
Search for braddell lrt station skipped
Search for toa payoh lrt station skipped
Search for novena lrt station skipped
Search for newton lrt station skipped
Search for orchard lrt station skipped
Search for somerset lrt station skipped
Search for dhoby ghaut lrt station skipped
Search for city hall lrt station skipped
Search for raffles place lrt station skipped
Search for marina bay lrt station skipped
Search for marina south pier lrt station skipped
Search for pasir ris lrt station skipped
Search for tampines lrt station skipped
Search for simei lrt station skipped
Search for tanah merah lrt station skipped
Search for bedok lrt station skipped
Search for kembangan lrt station skipped
Search for eunos lrt station skipped
Search for paya lebar lrt station skipped
Search for aljunied lrt station skipped
Search for kallang lrt station skipped
Search for lavender lrt station skipped
Search for bugis lrt station skipped
Search for city hall lrt station skipped
Search for raffles place lrt station skipped
Search for tanjong pagar lrt station skipped
Search for outram park lrt station skipped
Search for tiong bahru lrt station skipped
Search for redhill lrt station skipped
Search for queenstown lrt station skipped
Search for commonwealth lrt station skipped
Search for buona vista lrt station skipped
Search for dover lrt station skipped
Search for clementi lrt station skipped
Search for jurong east lrt station skipped
Search for chinese garden lrt station skipped
Search for lakeside lrt station skipped
Search for boon lay lrt station skipped
Search for pioneer lrt station skipped
Search for joo koon lrt station skipped
Search for gul circle lrt station skipped
Search for tuas crescent lrt station skipped
Search for tuas west road lrt station skipped
Search for tuas link lrt station skipped
Search for expo lrt station skipped
Search for changi airport lrt station skipped
Search for harbourfront lrt station skipped
Search for outram park lrt station skipped
Search for chinatown lrt station skipped
Search for clarke quay lrt station skipped
Search for dhoby ghaut lrt station skipped
Search for little india lrt station skipped
Search for farrer park lrt station skipped
Search for boon keng lrt station skipped
Search for potong pasir lrt station skipped
Search for woodleigh lrt station skipped
Search for serangoon lrt station skipped
Search for kovan lrt station skipped
Search for hougang lrt station skipped
Search for buangkok lrt station skipped
Search for dhoby ghaut lrt station skipped
Search for bras basah lrt station skipped
Search for esplanade lrt station skipped
Search for promenade lrt station skipped
Search for nicoll highway lrt station skipped
Search for stadium lrt station skipped
Search for mountbatten lrt station skipped
Search for dakota lrt station skipped
Search for paya lebar lrt station skipped
Search for macpherson lrt station skipped
Search for tai seng lrt station skipped
Search for bartley lrt station skipped
Search for serangoon lrt station skipped
Search for lorong chuan lrt station skipped
Search for bishan lrt station skipped
Search for marymount lrt station skipped
Search for caldecott lrt station skipped
Search for botanic gardens lrt station skipped
Search for farrer road lrt station skipped
Search for holland village lrt station skipped
Search for buona vista lrt station skipped
Search for one-north lrt station skipped
Search for kent ridge lrt station skipped
Search for haw par villa lrt station skipped
Search for pasir panjang lrt station skipped
Search for labrador park lrt station skipped
Search for telok blangah lrt station skipped
Search for harbourfront lrt station skipped
Search for bayfront lrt station skipped
Search for marina bay lrt station skipped
Search for cashew lrt station skipped
Search for hillview lrt station skipped
Search for beauty world lrt station skipped
Search for king albert park lrt station skipped
Search for sixth avenue lrt station skipped
Search for tan kah kee lrt station skipped
Search for botanic gardens lrt station skipped
Search for stevens lrt station skipped
Search for newton lrt station skipped
Search for little india lrt station skipped
Search for rochor lrt station skipped
Search for bugis lrt station skipped
Search for promenade lrt station skipped
Search for bayfront lrt station skipped
Search for downtown lrt station skipped
Search for telok ayer lrt station skipped
Search for chinatown lrt station skipped
Search for fort canning lrt station skipped
Search for bencoolen lrt station skipped
Search for jalan besar lrt station skipped
Search for bendemeer lrt station skipped
Search for geylang bahru lrt station skipped
Search for mattar lrt station skipped
Search for macpherson lrt station skipped
Search for ubi lrt station skipped
Search for kaki bukit lrt station skipped
Search for bedok north lrt station skipped
Search for bedok reservoir lrt station skipped
Search for tampines west lrt station skipped
Search for tampines lrt station skipped
Search for tampines east lrt station skipped
Search for upper changi lrt station skipped
Search for expo lrt station skipped
Search for choa chu kang mrt station skipped
Search for south view mrt station skipped
Search for keat hong mrt station skipped
Search for teck whye mrt station skipped
Search for phoenix mrt station skipped
Search for bukit panjang mrt station skipped
Search for petir mrt station skipped
Search for pending mrt station skipped
Search for bangkit mrt station skipped
Search for fajar mrt station skipped
Search for segar mrt station skipped
Search for jelapang mrt station skipped
Search for senja mrt station skipped
Search for ten mile junction mrt station skipped
Search for ten mile junction lrt station skipped
Search for sengkang mrt station skipped
Search for compassvale mrt station skipped
Search for rumbia mrt station skipped
Search for bakau mrt station skipped
Search for kangkar mrt station skipped
Search for ranggung mrt station skipped
Search for cheng lim mrt station skipped
Search for farmway mrt station skipped
Search for kupang mrt station skipped
Search for thanggam mrt station skipped
Search for fernvale mrt station skipped
Search for layar mrt station skipped
Search for tongkang mrt station skipped
Search for renjong mrt station skipped
Search for punggol mrt station skipped
Search for cove mrt station skipped
Search for meridian mrt station skipped
Search for coral edge mrt station skipped
Search for riviera mrt station skipped
Search for kadaloor mrt station skipped
Search for oasis mrt station skipped
Search for damai mrt station skipped
Search for sam kee mrt station skipped
Search for teck lee mrt station skipped
Search for punggol point mrt station skipped
Search for samudera mrt station skipped
Search for nibong mrt station skipped
Search for sumang mrt station skipped
Search for soo teck mrt station skipped
Search for woodlands north  lrt station skipped
Search for woodlands  lrt station skipped
Search for woodlands south  lrt station skipped
Search for springleaf lrt station skipped
Search for lentor lrt station skipped
Search for mayflower lrt station skipped
Search for bright hill lrt station skipped
Search for upper thomson lrt station skipped
Search for caldecott lrt station skipped
Search for stevens lrt station skipped
Search for napier lrt station skipped
Search for orchard boulevard lrt station skipped
Search for orchard lrt station skipped
Search for great world lrt station skipped
Search for havelock lrt station skipped
Search for outram park lrt station skipped
Search for maxwell lrt station skipped
Search for shenton way lrt station skipped
Search for marina bay lrt station skipped
Search for gardens by the bay lrt station skipped

In [412]:
# So the difficult part about integrating this information is that the mrt stations are not built at the same time
# take for example the green line is built in the 1987, lrt is in 1999, circle line 2009
# to complicate matters, some lines like the circle line are opened in stages (extensions included).
# for simplicity I will take the first result of the MRT location and only include the MRT if it was announced after that

In [356]:
stations_pd = pd.DataFrame(stations_address)

In [357]:
stations_pd = stations_pd.T.reset_index().rename(columns={'index':'station_name'})

In [358]:
stations_pd

,station_name,station_code,address,lat,long
0,jurong east,ns1,10 JURONG EAST STREET 12 JURONG EAST MRT STATI...,1.333153,103.742286
1,bukit batok,ns2,10 BUKIT BATOK CENTRAL BUKIT BATOK MRT STATION...,1.349033,103.749566
2,bukit gombak,ns3,802 BUKIT BATOK WEST AVENUE 5 BUKIT GOMBAK MRT...,1.358612,103.751791
3,choa chu kang,ns4,10 CHOA CHU KANG AVENUE 4 CHOA CHU KANG MRT ST...,1.385363,103.744371
4,yew tee,ns5,61 CHOA CHU KANG DRIVE YEW TEE MRT STATION (NS...,1.397535,103.747405
...,...,...,...,...,...
168,great world,te15,351 RIVER VALLEY ROAD GREAT WORLD MRT STATION ...,1.293948,103.833721
169,havelock,te16,110 ZION ROAD HAVELOCK MRT STATION (TE16) SING...,1.288505,103.833586
170,maxwell,te18,321 SOUTH BRIDGE ROAD MAXWELL MRT STATION (TE1...,1.280533,103.843884
171,shenton way,te19,2 PARK STREET SHENTON WAY MRT STATION (TE19) S...,1.277717,103.850368
172,gardens by the bay,te22,11 MARINA MALL GARDENS BY THE BAY MRT STATION ...,1.278487,103.867455

In [273]:
# Quite a number of lines!
set([station_code[:2] for station_code in stations_pd['station_code']])

{'bp', 'cc', 'ce', 'cg', 'dt', 'ew', 'ne', 'ns', 'pe', 'pw', 'se', 'sw', 'te'}

Announcement or opened Dates (info from https://www.sgtrains.com/network.html)

MRTs
- DT 2005 
- EW 1987 
- CC 2009
- NS 1987
- NE 2003

LRTs
- BP 1999
- SE 2003 
- SW 2003
- PE 2005
- PW 2005

I will factor the calculation for the MRTs for NS and EW line pre 2000 and everything else 2000 onwards

## Distance between MRT and flats and nearest MRT

In [296]:
_,_,sample_flat_lat, sample_flat_long = unique_address_geo_pd.iloc[1,:]

In [298]:
sample_flat_coor = [float(sample_flat_lat), float(sample_flat_long)]

In [286]:
import haversine.haversine as haversine

In [315]:
home_address = return_one_address('325 Ang Mo Kio Ave 3')

In [316]:
mrt_address = return_one_address('Ang Mo kio MRT station (NS16)')

In [317]:
haversine([home_address['lat'],home_address['long']], (mrt_address['lat'] , mrt_address['long']))

0.37315066337697594

In [318]:
# need to calculate the minimum distance between a location and all other mrt. Return the minimum distance along with the station name

In [320]:
unique_address_geo_pd_valid = unique_address_geo_pd[unique_address_geo_pd['full_address'] != 'data unavailable']

In [325]:
unique_address_geo_pd_valid['lat'] = unique_address_geo_pd_valid['lat'].astype('float')
unique_address_geo_pd_valid['long'] = unique_address_geo_pd_valid['long'].astype('float')

C:\Users\Randy\AppData\Local\Temp\ipykernel_11676\2501567114.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_address_geo_pd_valid['lat'] = unique_address_geo_pd_valid['lat'].astype('float')
C:\Users\Randy\AppData\Local\Temp\ipykernel_11676\2501567114.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_address_geo_pd_valid['long'] = unique_address_geo_pd_valid['long'].astype('float')

In [359]:
stations_pd

,station_name,station_code,address,lat,long
0,jurong east,ns1,10 JURONG EAST STREET 12 JURONG EAST MRT STATI...,1.333153,103.742286
1,bukit batok,ns2,10 BUKIT BATOK CENTRAL BUKIT BATOK MRT STATION...,1.349033,103.749566
2,bukit gombak,ns3,802 BUKIT BATOK WEST AVENUE 5 BUKIT GOMBAK MRT...,1.358612,103.751791
3,choa chu kang,ns4,10 CHOA CHU KANG AVENUE 4 CHOA CHU KANG MRT ST...,1.385363,103.744371
4,yew tee,ns5,61 CHOA CHU KANG DRIVE YEW TEE MRT STATION (NS...,1.397535,103.747405
...,...,...,...,...,...
168,great world,te15,351 RIVER VALLEY ROAD GREAT WORLD MRT STATION ...,1.293948,103.833721
169,havelock,te16,110 ZION ROAD HAVELOCK MRT STATION (TE16) SING...,1.288505,103.833586
170,maxwell,te18,321 SOUTH BRIDGE ROAD MAXWELL MRT STATION (TE1...,1.280533,103.843884
171,shenton way,te19,2 PARK STREET SHENTON WAY MRT STATION (TE19) S...,1.277717,103.850368
172,gardens by the bay,te22,11 MARINA MALL GARDENS BY THE BAY MRT STATION ...,1.278487,103.867455

In [360]:
stations_pd.values[0][4]

103.742286332403

In [340]:
test_array = np.zeros((2,1))

In [344]:
test_array[0] = 5
test_array[1] = 3

In [345]:
min(test_array)

array([3.])

In [346]:
np.argmin(test_array)

1

In [383]:
import numpy as np

def return_closest_mrt_distance(coor:List[float], stations:pd.DataFrame)->dict:
    """ with one set of coordinates (lat, long) returns the minimum distance
    to the MRT along with the MRT name
    """
    res = np.zeros((len(stations),1))
    for idx, station in enumerate(stations.values):
        station_coor = (station[3], station[4])
        res[idx] = haversine(coor, (station_coor))

    min_distance_idx = np.argmin(res)
    
    return {'closest_mrt': stations.values[min_distance_idx][0],'distance': round(res[min_distance_idx][0],3)}

In [384]:
return_closest_mrt_distance((home_address['lat'],home_address['long']), stations_pd)

{'closest_mrt': 'ang mo kio', 'distance': 0.373}

In [385]:
test_address = return_one_address('658D Jurong West')

In [386]:
return_closest_mrt_distance((test_address['lat'],test_address['long']), stations_pd)

{'closest_mrt': 'pioneer', 'distance': 0.384}

In [387]:
res = []
for address in unique_address_geo_pd_valid.values:
    lat,long = address[2] , address[3]
    mrt = return_closest_mrt_distance((lat,long), stations_pd)
    res.append([mrt['closest_mrt'], mrt['distance']])

In [400]:
len(unique_address_geo_pd_valid)

9585

In [395]:
len(res)

9585

In [408]:
unique_address_geo_pd_valid.reset_index(drop=True)

,address,full_address,lat,long
0,216 ANG MO KIO AVE 1,216 ANG MO KIO AVENUE 1 ANG MO KIO 22 SINGAPOR...,1.366197,103.841505
1,211 ANG MO KIO AVE 3,211 ANG MO KIO AVENUE 3 SINGAPORE 560211,1.369197,103.841667
2,202 ANG MO KIO AVE 3,202 ANG MO KIO AVENUE 3 ANG MO KIO VIEW SINGAP...,1.368446,103.844516
3,235 ANG MO KIO AVE 3,235 ANG MO KIO AVENUE 3 PCF SPARKLETOTS PRESCH...,1.366824,103.836491
4,232 ANG MO KIO AVE 3,232 ANG MO KIO AVENUE 3 KEBUN BARU PALM VIEW S...,1.368346,103.837196
...,...,...,...,...
9580,494G TAMPINES ST 45,494G TAMPINES STREET 45 TAMPINES GREENEDGE SIN...,1.363134,103.955459
9581,494H TAMPINES ST 45,494H TAMPINES STREET 45 TAMPINES GREENEDGE SIN...,1.363683,103.954992
9582,675A YISHUN AVE 4,675A YISHUN AVENUE 4 FERN GROVE @ YISHUN SINGA...,1.419458,103.843092
9583,673C YISHUN AVE 4,673C YISHUN AVENUE 4 FERN GROVE @ YISHUN SINGA...,1.421049,103.842207
9584,674B YISHUN AVE 4,674B YISHUN AVENUE 4 FERN GROVE @ YISHUN SINGA...,1.421073,103.843117

In [404]:
pd.DataFrame(res).reset_index()

      index              0      1
0         0      mayflower  0.803
1         1      mayflower  0.620
2         2     ang mo kio  0.584
3         3      mayflower  0.516
4         4      mayflower  0.354
...     ...            ...    ...
9580   9580  tampines east  0.777
9581   9581  tampines east  0.834
9582   9582         khatib  1.147
9583   9583         khatib  1.104
9584   9584         khatib  1.199

[9585 rows x 3 columns]

In [415]:
# Do some sanity check here
pd.concat((unique_address_geo_pd_valid.reset_index(drop=True),pd.DataFrame(res)), axis=1, ignore_index=True).sample(20,random_state=SEED)

,0,1,2,3,4,5
5143,462 HOUGANG AVE 10,462 HOUGANG AVENUE 10 SINGAPORE 530462,1.372226,103.894640,hougang,0.272
4229,247 KIM KEAT LINK,247 KIM KEAT LINK SINGAPORE 310247,1.331063,103.855267,toa payoh,0.881
39,425 ANG MO KIO AVE 3,425 ANG MO KIO AVENUE 3 THONG CHAI MEDICAL INS...,1.369154,103.851747,ang mo kio,0.258
7169,260A SENGKANG EAST WAY,260A SENGKANG EAST WAY COMPASSVALE NORTH GATE ...,1.393141,103.895569,sengkang,0.161
1840,8 REDHILL CL,8 REDHILL CLOSE SINGAPORE 151008,1.285116,103.816866,redhill,0.503
5271,232 PASIR RIS DR 4,232 PASIR RIS DRIVE 4 SINGAPORE 510232,1.374721,103.961672,pasir ris,1.390
5389,268 PASIR RIS ST 21,268 PASIR RIS STREET 21 SINGAPORE 510268,1.365290,103.963014,tampines east,1.375
7359,353 ANG MO KIO ST 32,353 ANG MO KIO STREET 32 AMK HEIGHTS SINGAPORE...,1.364068,103.851612,ang mo kio,0.691
1346,125 SERANGOON NTH AVE 1,125 SERANGOON NORTH AVENUE 1 SINGAPORE 550125,1.366451,103.872111,kovan,1.600
1056,561 ANG MO KIO AVE 10,561 ANG MO KIO AVENUE 10 CHENG SAN PLACE SINGA...,1.370578,103.857855,ang mo kio,0.925
1432,250 YISHUN AVE 9,250 YISHUN AVENUE 9 YISHUN SUNSHINE SINGAPORE ...,1.435531,103.841674,yishun,1.004
7356,584 WOODLANDS DR 16,584 WOODLANDS DRIVE 16 SINGAPORE 730584,1.429557,103.794808,woodlands south,0.295
2847,135 BEDOK RESERVOIR RD,135 BEDOK RESERVOIR ROAD EUNOS SPRING SINGAPOR...,1.333141,103.912524,kaki bukit,0.495
483,99 ALJUNIED CRES,99 ALJUNIED CRESCENT SINGAPORE 380099,1.321381,103.884306,aljunied,0.572
8187,166 WOODLANDS ST 13,166 WOODLANDS STREET 13 SINGAPORE 730166,1.433633,103.775400,marsiling,0.192
7750,980C BUANGKOK CRES,980C BUANGKOK CRESCENT SINGAPORE 533980,1.380032,103.880971,tongkang,1.169
6223,442 FAJAR RD,442 FAJAR ROAD GROWORLD LEARNING PTE LTD SINGA...,1.382251,103.771236,fajar,0.261
2470,37 TELOK BLANGAH RISE,37 TELOK BLANGAH RISE SINGAPORE 090037,1.272673,103.822876,harbourfront,0.824
3991,366 YISHUN RING RD,366 YISHUN RING ROAD YISHUN GLORY SINGAPORE 76...,1.429081,103.845880,yishun,1.209
6775,206C COMPASSVALE LANE,206C COMPASSVALE LANE COMPASSVALE PLACE SINGAP...,1.386818,103.897547,ranggung,0.290

### Modify for pre and post 2000 mrt lines

I need to modify the code to only calculate distance for mrt that are present before and after 2000.

My idea is that I would maintain the same list but with two different set of values, one pre and one post 2000 and then delete accordingly when referencing the month col of the dataset.

In [435]:
stations_pd

,station_name,station_code,address,lat,long
0,jurong east,ns1,10 JURONG EAST STREET 12 JURONG EAST MRT STATI...,1.333153,103.742286
1,bukit batok,ns2,10 BUKIT BATOK CENTRAL BUKIT BATOK MRT STATION...,1.349033,103.749566
2,bukit gombak,ns3,802 BUKIT BATOK WEST AVENUE 5 BUKIT GOMBAK MRT...,1.358612,103.751791
3,choa chu kang,ns4,10 CHOA CHU KANG AVENUE 4 CHOA CHU KANG MRT ST...,1.385363,103.744371
4,yew tee,ns5,61 CHOA CHU KANG DRIVE YEW TEE MRT STATION (NS...,1.397535,103.747405
...,...,...,...,...,...
168,great world,te15,351 RIVER VALLEY ROAD GREAT WORLD MRT STATION ...,1.293948,103.833721
169,havelock,te16,110 ZION ROAD HAVELOCK MRT STATION (TE16) SING...,1.288505,103.833586
170,maxwell,te18,321 SOUTH BRIDGE ROAD MAXWELL MRT STATION (TE1...,1.280533,103.843884
171,shenton way,te19,2 PARK STREET SHENTON WAY MRT STATION (TE19) S...,1.277717,103.850368
172,gardens by the bay,te22,11 MARINA MALL GARDENS BY THE BAY MRT STATION ...,1.278487,103.867455

In [439]:
pre_2000_mrt_lines = ['ns', 'ew'] # or the OG green and red lines
pattern = '|'.join(pre_2000_mrt_lines)
stations_pre_2000 =  stations_pd[stations_pd['station_code'].str.contains(pattern)]

In [440]:
stations_pre_2000.sample(15, random_state=SEED)

,station_name,station_code,address,lat,long
0,jurong east,ns1,10 JURONG EAST STREET 12 JURONG EAST MRT STATI...,1.333153,103.742286
5,kranji,ns7,960 WOODLANDS ROAD KRANJI MRT STATION (NS7) SI...,1.425087,103.762137
30,tanah merah,ew4,920 NEW UPPER CHANGI ROAD TANAH MERAH MRT STAT...,1.327187,103.946349
13,yio chu kang,ns15,3000 ANG MO KIO AVENUE 8 YIO CHU KANG MRT STAT...,1.381756,103.844947
34,paya lebar,ew8,30 PAYA LEBAR ROAD PAYA LEBAR MRT STATION (EW8...,1.318111,103.893061
55,tuas west road,ew32,131 PIONEER ROAD TUAS WEST ROAD MRT STATION (E...,1.329985,103.639617
27,pasir ris,ew1,10 PASIR RIS CENTRAL PASIR RIS MRT STATION (EW...,1.373043,103.949285
31,bedok,ew5,315 NEW UPPER CHANGI ROAD BEDOK MRT STATION (E...,1.32398,103.929984
45,buona vista,ew21,100 NORTH BUONA VISTA ROAD BUONA VISTA MRT STA...,1.307224,103.790254
12,khatib,ns14,201 YISHUN AVENUE 2 KHATIB MRT STATION (NS14) ...,1.417383,103.83298
47,clementi,ew23,3150 COMMONWEALTH AVENUE WEST CLEMENTI MRT STA...,1.315116,103.765191
3,choa chu kang,ns4,10 CHOA CHU KANG AVENUE 4 CHOA CHU KANG MRT ST...,1.385363,103.744371
43,queenstown,ew19,301 COMMONWEALTH AVENUE QUEENSTOWN MRT STATION...,1.294551,103.806077
26,marina south pier,ns28,33 MARINA COASTAL DRIVE MARINA SOUTH PIER MRT ...,1.271027,103.862448
8,admiralty,ns10,70 WOODLANDS AVENUE 7 ADMIRALTY MRT STATION (N...,1.440589,103.800991

In [447]:
def return_closest_mrt_distances(unique_address_geo_pd_valid:pd.DataFrame, stations_pd:pd.DataFrame)->pd.DataFrame:
    res = []
    for address in unique_address_geo_pd_valid.values:
        lat,long = address[2] , address[3]
        mrt = return_closest_mrt_distance((lat,long), stations_pd)
        res.append([mrt['closest_mrt'], mrt['distance']])

    assert len(unique_address_geo_pd_valid) == len(res)
    unique_address_geo_pd_valid.reset_index(drop=True)
    combined_pd = pd.concat((unique_address_geo_pd_valid.reset_index(drop=True),pd.DataFrame(res)), axis=1, ignore_index=True)

    return combined_pd

In [451]:
unique_address_geo_pd_valid_mrt_pre_2000 = return_closest_mrt_distances(unique_address_geo_pd_valid, stations_pre_2000)
unique_address_geo_pd_valid_mrt = return_closest_mrt_distances(unique_address_geo_pd_valid, stations_pd)

In [452]:
unique_address_geo_pd_valid_mrt.sample(20,random_state=SEED)

,0,1,2,3,4,5
5143,462 HOUGANG AVE 10,462 HOUGANG AVENUE 10 SINGAPORE 530462,1.372226,103.894640,hougang,0.272
4229,247 KIM KEAT LINK,247 KIM KEAT LINK SINGAPORE 310247,1.331063,103.855267,toa payoh,0.881
39,425 ANG MO KIO AVE 3,425 ANG MO KIO AVENUE 3 THONG CHAI MEDICAL INS...,1.369154,103.851747,ang mo kio,0.258
7169,260A SENGKANG EAST WAY,260A SENGKANG EAST WAY COMPASSVALE NORTH GATE ...,1.393141,103.895569,sengkang,0.161
1840,8 REDHILL CL,8 REDHILL CLOSE SINGAPORE 151008,1.285116,103.816866,redhill,0.503
5271,232 PASIR RIS DR 4,232 PASIR RIS DRIVE 4 SINGAPORE 510232,1.374721,103.961672,pasir ris,1.390
5389,268 PASIR RIS ST 21,268 PASIR RIS STREET 21 SINGAPORE 510268,1.365290,103.963014,tampines east,1.375
7359,353 ANG MO KIO ST 32,353 ANG MO KIO STREET 32 AMK HEIGHTS SINGAPORE...,1.364068,103.851612,ang mo kio,0.691
1346,125 SERANGOON NTH AVE 1,125 SERANGOON NORTH AVENUE 1 SINGAPORE 550125,1.366451,103.872111,kovan,1.600
1056,561 ANG MO KIO AVE 10,561 ANG MO KIO AVENUE 10 CHENG SAN PLACE SINGA...,1.370578,103.857855,ang mo kio,0.925
1432,250 YISHUN AVE 9,250 YISHUN AVENUE 9 YISHUN SUNSHINE SINGAPORE ...,1.435531,103.841674,yishun,1.004
7356,584 WOODLANDS DR 16,584 WOODLANDS DRIVE 16 SINGAPORE 730584,1.429557,103.794808,woodlands south,0.295
2847,135 BEDOK RESERVOIR RD,135 BEDOK RESERVOIR ROAD EUNOS SPRING SINGAPOR...,1.333141,103.912524,kaki bukit,0.495
483,99 ALJUNIED CRES,99 ALJUNIED CRESCENT SINGAPORE 380099,1.321381,103.884306,aljunied,0.572
8187,166 WOODLANDS ST 13,166 WOODLANDS STREET 13 SINGAPORE 730166,1.433633,103.775400,marsiling,0.192
7750,980C BUANGKOK CRES,980C BUANGKOK CRESCENT SINGAPORE 533980,1.380032,103.880971,tongkang,1.169
6223,442 FAJAR RD,442 FAJAR ROAD GROWORLD LEARNING PTE LTD SINGA...,1.382251,103.771236,fajar,0.261
2470,37 TELOK BLANGAH RISE,37 TELOK BLANGAH RISE SINGAPORE 090037,1.272673,103.822876,harbourfront,0.824
3991,366 YISHUN RING RD,366 YISHUN RING ROAD YISHUN GLORY SINGAPORE 76...,1.429081,103.845880,yishun,1.209
6775,206C COMPASSVALE LANE,206C COMPASSVALE LANE COMPASSVALE PLACE SINGAP...,1.386818,103.897547,ranggung,0.290

In [453]:
unique_address_geo_pd_valid_pre_2000.sample(20,random_state=SEED)

,0,1,2,3,4,5
5143,462 HOUGANG AVE 10,462 HOUGANG AVENUE 10 SINGAPORE 530462,1.372226,103.894640,ang mo kio,5.018
4229,247 KIM KEAT LINK,247 KIM KEAT LINK SINGAPORE 310247,1.331063,103.855267,toa payoh,0.881
39,425 ANG MO KIO AVE 3,425 ANG MO KIO AVENUE 3 THONG CHAI MEDICAL INS...,1.369154,103.851747,ang mo kio,0.258
7169,260A SENGKANG EAST WAY,260A SENGKANG EAST WAY COMPASSVALE NORTH GATE ...,1.393141,103.895569,ang mo kio,5.729
1840,8 REDHILL CL,8 REDHILL CLOSE SINGAPORE 151008,1.285116,103.816866,redhill,0.503
5271,232 PASIR RIS DR 4,232 PASIR RIS DRIVE 4 SINGAPORE 510232,1.374721,103.961672,pasir ris,1.390
5389,268 PASIR RIS ST 21,268 PASIR RIS STREET 21 SINGAPORE 510268,1.365290,103.963014,pasir ris,1.753
7359,353 ANG MO KIO ST 32,353 ANG MO KIO STREET 32 AMK HEIGHTS SINGAPORE...,1.364068,103.851612,ang mo kio,0.691
1346,125 SERANGOON NTH AVE 1,125 SERANGOON NORTH AVENUE 1 SINGAPORE 550125,1.366451,103.872111,ang mo kio,2.537
1056,561 ANG MO KIO AVE 10,561 ANG MO KIO AVENUE 10 CHENG SAN PLACE SINGA...,1.370578,103.857855,ang mo kio,0.925
1432,250 YISHUN AVE 9,250 YISHUN AVENUE 9 YISHUN SUNSHINE SINGAPORE ...,1.435531,103.841674,yishun,1.004
7356,584 WOODLANDS DR 16,584 WOODLANDS DRIVE 16 SINGAPORE 730584,1.429557,103.794808,woodlands,1.263
2847,135 BEDOK RESERVOIR RD,135 BEDOK RESERVOIR ROAD EUNOS SPRING SINGAPOR...,1.333141,103.912524,kembangan,1.347
483,99 ALJUNIED CRES,99 ALJUNIED CRESCENT SINGAPORE 380099,1.321381,103.884306,aljunied,0.572
8187,166 WOODLANDS ST 13,166 WOODLANDS STREET 13 SINGAPORE 730166,1.433633,103.775400,marsiling,0.192
7750,980C BUANGKOK CRES,980C BUANGKOK CRESCENT SINGAPORE 533980,1.380032,103.880971,ang mo kio,3.668
6223,442 FAJAR RD,442 FAJAR ROAD GROWORLD LEARNING PTE LTD SINGA...,1.382251,103.771236,choa chu kang,3.006
2470,37 TELOK BLANGAH RISE,37 TELOK BLANGAH RISE SINGAPORE 090037,1.272673,103.822876,tiong bahru,1.577
3991,366 YISHUN RING RD,366 YISHUN RING ROAD YISHUN GLORY SINGAPORE 76...,1.429081,103.845880,yishun,1.209
6775,206C COMPASSVALE LANE,206C COMPASSVALE LANE COMPASSVALE PLACE SINGAP...,1.386818,103.897547,ang mo kio,5.655

Apparently some estates like hougang and sengkang are very far to the early mrt stations but have benefited alot from the LRTs that were constructed not too late from when it was built.

For example the block `206C Compassvale Lane` was built only on 1999 but the LRT is up only on 2003.

In [ ]:
# we can drop id and lease commence date 
# lease commence date since the feature is already present in remaining lease

In [ ]:
# make a copy first
df_original = df_combined.copy()

In [ ]:
df_combined.drop(columns=['_id','lease_commence_date','street_name','block'], inplace=True)

In [ ]:
# cleanup for remaining_lease as the later ones have months attached to them
# I will only take the first 2 values for the years
# cast to str and take the first 2 values for years and then cast them back to int later
df_combined['remaining_lease'].astype(str).str[:2].astype(int)

In [ ]:
# Conversion
df_combined['remaining_lease'] = df_combined['remaining_lease'].astype(str).str[:2].astype(int)
df_combined['floor_area_sqm'] = df_combined['floor_area_sqm'].astype(float)
df_combined['resale_price'] = df_combined['resale_price'].astype(float)
df_combined['month'] = pd.to_datetime(df_combined['month']).dt.year

In [ ]:
df_combined.info()

In [ ]:
df_combined.hist()

In [ ]:
df_combined.select_dtypes(include='object').describe().T

In [ ]:
df_combined['flat_model'].unique()

In [ ]:
# I think the flat model should not be such a big deal. Ill drop it
df_combined.drop(columns='flat_model', inplace=True)

In [ ]:
df_combined['flat_type'].unique()

In [ ]:
df_combined['town'].unique()

In [ ]:
df_combined['storey_range'].unique()

In [ ]:
df_combined['flat_type'] = df_combined['flat_type'].str.replace('MULTI-GENERATION','MULTI GENERATION')

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize = (15,10))
ax = sns.boxplot(x='town', y='resale_price', data=df_combined)
ax.set_xticklabels(ax.get_xticklabels(),rotation=30)

In [ ]:
df_combined.head()

In [ ]:
ordinal_ranking_flat_type = ['MULTI GENERATION','EXECUTIVE', '5 ROOM','4 ROOM', '3 ROOM','2 ROOM', '1 ROOM']
ordinal_ranking_storey_range = [ '01 TO 03','01 TO 05','04 TO 06', '06 TO 10', '07 TO 09', '10 TO 12','11 TO 15', '13 TO 15',
        '16 TO 18','16 TO 20','19 TO 21','21 TO 25', '22 TO 24', '25 TO 27', '26 TO 30', '28 TO 30',
       '31 TO 33','31 TO 35','34 TO 36',  '37 TO 39', '36 TO 40', '40 TO 42', '43 TO 45', '46 TO 48','49 TO 51']

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, OneHotEncoder

ORDINAL_FEATURES = ["storey_range","flat_type"]
CAT_FEATURES = ["town"]
NUM_FEATURES = ["remaining_lease","floor_area_sqm","month"]
TARGET = "resale_price"
# ORDINAL_FEATURES = df_combined.select_dtypes(include='object').columns.drop("town")
# NUM_FEATURES = df_combined.select_dtypes(exclude='object').columns

In [ ]:
len(ordinal_ranking_storey_range)

In [ ]:
df_combined['storey_range'].unique()

In [ ]:
ordinal_pipe = OrdinalEncoder(categories=[ordinal_ranking_storey_range,ordinal_ranking_flat_type])
empty_ordinal_pipe = OrdinalEncoder()
cat_pipe = OneHotEncoder(drop='first', sparse=False)
num_pipe = StandardScaler()

datapipe = ColumnTransformer([
    ('cat_pipe',cat_pipe , CAT_FEATURES),
    ('num_pipe',num_pipe, NUM_FEATURES),
    ('ordinal_pipe', ordinal_pipe, ORDINAL_FEATURES)
    ])

In [ ]:
OE_Flat_type = OrdinalEncoder(categories=[ordinal_ranking_flat_type])
OE_Flat_type.fit_transform(df_combined[['flat_type']])

In [ ]:
df_combined.head()

In [ ]:
y = df_combined.pop(TARGET)
X = df_combined

In [ ]:
X.head()

In [ ]:
X_transform = datapipe.fit_transform(X)

In [ ]:
pd.Series(X_transform[0])

In [ ]:
from sklearn.model_selection import train_test_split

RANDOM_STATE = 42
ordinal_ranking_flat_type = ['MULTI GENERATION','EXECUTIVE', '5 ROOM','4 ROOM', '3 ROOM','2 ROOM', '1 ROOM']
ordinal_ranking_storey_range = [ '01 TO 03','01 TO 05','04 TO 06', '06 TO 10', '07 TO 09', '10 TO 12','11 TO 15', '13 TO 15',
        '16 TO 18','16 TO 20','19 TO 21','21 TO 25', '22 TO 24', '25 TO 27', '26 TO 30', '28 TO 30',
       '31 TO 33','31 TO 35','34 TO 36',  '37 TO 39', '36 TO 40', '40 TO 42', '43 TO 45', '46 TO 48','49 TO 51']

class DataPipeline():

    def __init__(self):
        ORDINAL_FEATURES = ["storey_range","flat_type"]
        CAT_FEATURES = ["town"]
        NUM_FEATURES = ["remaining_lease","floor_area_sqm","month"]
        self.TARGET = "resale_price"

        ordinal_pipe = OrdinalEncoder(categories=[ordinal_ranking_storey_range,ordinal_ranking_flat_type])
        cat_pipe = OneHotEncoder(drop='first', sparse=False)
        num_pipe = StandardScaler()

        self.datapipe = ColumnTransformer([
            ('cat_pipe',cat_pipe , CAT_FEATURES),
            ('num_pipe',num_pipe, NUM_FEATURES),
            ('ordinal_pipe', ordinal_pipe, ORDINAL_FEATURES)
            ])    

    def __dropcols(self, df):
        df.drop(columns=['_id','lease_commence_date','street_name','block', 'flat_model'], inplace=True)
        return df

    def __conversions(self, df):
        df['remaining_lease'] = df['remaining_lease'].astype(str).str[:2].astype(int)
        df['floor_area_sqm'] = df['floor_area_sqm'].astype(float)
        df['resale_price'] = df['resale_price'].astype(float)
        df['month'] = pd.to_datetime(df['month']).dt.year

        return df

    def __preprocess(self,df):
        df['flat_type'] = df['flat_type'].str.replace('MULTI-GENERATION','MULTI GENERATION')
        return df

    def __split(self, df:pd.DataFrame):
        y = df.pop(self.TARGET)
        X = df


        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=RANDOM_STATE)

        return X_train, X_test, y_train, y_test

    def __run_ct(self, X_train, X_test):
        X_train = self.datapipe.fit_transform(X_train)
        X_test = self.datapipe.transform(X_test)

        return X_train, X_test

    def transform(self, df, y= None):
        """preprocess, transform and then split the dataset

        Parameters
        ----------
        X : pd.DataFrame
            the entire DataFrame
        y : None, Ignored
        """
        df = self.__dropcols(df)
        df = self.__conversions(df)
        df = self.__preprocess(df)
        X_train, X_test, y_train, y_test = self.__split(df)

        X_train, X_test = self.__run_ct(X_train, X_test)

        return X_train, X_test, y_train, y_test

In [ ]:
df_original_copy  = df_original.copy()

In [ ]:
datapipeline = DataPipeline()
X_train, X_test, y_train, y_test = datapipeline.transform(df_original_copy)

In [ ]:
from src.datapipeline import DataPipeline

df_original_copy_2 = df_original.copy()

datapipeline = DataPipeline()
X_train_pipe, X_test_pipe, y_train_pipe, y_test_pipe = datapipeline.transform(df_original_copy_2)

In [ ]:
# Check to see if the datapipeline yields the same results

In [ ]:
np.array_equal(X_train, X_train_pipe)

In [ ]:
np.array_equal(X_test, X_test_pipe)

In [ ]:
np.array_equal(y_train, y_train_pipe)

In [ ]:
np.array_equal(y_test, y_test_pipe)